<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cartão</title>
    <link rel="stylesheet" href="/css/cadastrocartao.css">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script>
        const mp = new mercadoPago("APP_USR-b394bbba-78bf-4bf2-b12e-ba014baf5a5e");
    </script>      
    <script src="/js/comprarcarrinho.js"></script>
</head>
<body>
    <section class="paymentformdark">
        <nav class="containerpayment">
            <nav class="block heading"><h2>Checkout</h2></nav>
            <nav class="formpayment">
                <nav class="products">
                    <h2 class="title"> Resumo do pedido</h2>
                    <% 
                    var total = 0;
                    if(carrinho){
                    carrinho.forEach(function(item) {
                        total += (item.qtde * item.preco);
                    %>
                    <nav class="item">
                        <span class="pricehidden" id="summaryprice"> R$ <%= item.preco.toFixed(2) %></span>
                        <span class="price" id="subtotalprica"> R$ <%=(item.qtde * item.preco).toFixed(2) %></span>
                        <p class="itemname"> <%= item.produto %>
                        ( <span class="summaryquantity"> <%= item.qtde %>
                        </span> x R$ <%= item.preco.toFixed(2) %>)
                        </p>
                    </nav>
                    <% })
                }; %>
                    <nav class="total">
                        <span class="price" id="summarytotal"> Total R$ <%= total.toFixed(2) %></span>
                    </nav>
                </nav>
            </nav>
        </nav>
    </section>
</body>
</html>
