<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Projetos</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/reuniversal.css">
</head>
<body>
    <nav class="sidebar close">
        <header>
            <section class="image-text">
                <span class="image">
                    <img src="/imagens/LOGO_SOLLARIUM (8).png" alt="logotipo">
                </span>
                <section class="text header-text">
                    <span class="name">Sollarium</span>
                    <span class="profession">Relatório profissional</span>
                </section>
            </section>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <section class="menu-bar">
            <section class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="search" placeholder="Procurar...">
                </li>
                <ul class="menu-links">
                    <li class="nav-links">
                        <a href="/Projetos">
                            <i class='bx bx-message-alt icon'></i>
                            <span class="text nav-text">Projetos</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="/Pagamentos">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Pagamentos</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="/Comissao">
                            <i class='bx bx-money-withdraw icon'></i>
                            <span class="text nav-text">Comissão</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="bottom content"> 
                <li class="nav-links">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Voltar</span>
                    </a>
                </li>
                
            </section>
        </section>
    </nav>

    <section class="home">
        <section class="text">Relatório de Projetos</section>
        <section class="tabelas">
            <h2>Solicitações Recebidas</h2>
            <table id="projetotable">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% let situacoes = ["Pendente", "Em andamento", "Finalizada", "Cancelada"]; %>
                    <% tarefas.forEach(function(projetos) { %>
                    <tr>
                        <td><%= projetos.nome_projetos %></td>
                        <td><%= projetos.data_projetos %></td>
                        <td><%= projetos.valor_projetos %></td>
                        <td>
                            <section class="boton">
                                <button onclick="window.location='/aceitar?id=<%= projetos.id_projetos %>'" class="gosto">
                                    <i class='bx bx-check aceitar'></i>
                                </button>
                                <button onclick="window.location='/excluir?id=<%= projetos.id_projetos %>'" class="desgosto">
                                    <i class='bx bx-x recusar'></i>
                                </button>
                            </section>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
    </section>

    <main>
    </main>

    <script>
        const body = document.querySelector("body"),
            sidebar = body.querySelector(".sidebar"),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode.text");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });

       
    </script>
</body>
</html>
