<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitações de Orçamento</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"></link>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/orcprof.css"></link>
  </head>

<body>
    <a href="/" class="material-symbols-outlined">
        keyboard_backspace
        <h3> Voltar </h3>
    <a>
    <h1>Solicitações de Orçamento</h1>
    <table>
        <thead>
            <tr>
                <th>Nome do Cliente</th>
                <th>Data do Serviço</th>
                <th>Valor do Serviço</th>
                <th>Status</th>
                <th>ação</th>
            </tr>
        </thead>
        <tbody>
            <% 
            listaOrcamentos.forEach(function(orcamento){ %>
            <tr>
                <td><%=orcamento.NOME_CLIENTE%></td>
                <td><%= helpers.formatDate(orcamento.DATA_ORCAMENTO)%></td>
                <td><%=orcamento.VALOR_ORCAMENTO%></td>
                <td><%=orcamento.STATUS_ORCAMENTO%></td>
                <td><button class="btn-accept" onclick="window.location='/updateorc?id_orcamento=<%=orcamento.ID_ORCAMENTO%>'">Aceitar</button></td>
            </tr>
            <% }); %>
    

        </tbody>
    </table>
</body>
</html>
