<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/perfilcliente.css">
  <title>Perfil do Usuário</title>
</head>
<body>

  <main class="perfil-container">
    <section class="perfil-left">
          <a href="/" class="material-symbols-outlined">
          keyboard_backspace
          <h3> Voltar </h3>
      <a>
      
      <div class="perfil-header">

        <h1 id="user-name">Bem-Vindo!</h1>
        <div class="photo-actions">
          <img id="img-preview" src="/imagens/perfil/imgperfil.png" alt="Foto de perfil">
        </div>
        <nav class="button-photo">
           <button >Editar Foto</button></nav>
      </div>
      <nav class="perfil-nav">
        <ul>
          <li>
            <a href="/listaClienteorc?id_cliente=<%=autenticado.ID_CLIENTE%>">
              <span class="material-icons-sharp">receipt_long</span>
              Orçamentos
            </a>
          </li>
          <li>
            <a href="/orcamento">
              <span class="material-icons-sharp">add</span>
              Criar novo orçamento
            </a>
          </li>
          <nav class="sair">
          <a href="#" id="logout"><span class="material-icons-sharp">logout</span></a>
            <h3>Desconectar</h3>
            </nav>
        </ul>
        
      </nav>
    </section>
    <section class="perfil-right">
      <form action="/perfilcliente" method="post" enctype="multipart/form-data">
        <h2>Informações do Perfil</h2>
        <div class="form-group">
          <label for="nome">Nome Completo:</label>
          <input type="text" id="nome" name="nome" value="<%= valores.nome %>">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="<%= valores.email %>">
        </div>
        <div class="form-group">
          <label for="cep">CEP:</label>
          <input type="text" id="cep" name="cep" value="<%= valores.cep %>">
        </div>
        <div class="form-group">
          <label for="complemento">Complemento:</label>
          <input type="text" id="complemento" name="complemento" value="<%= valores.complemento %>">
        </div>
        <div class="form-group">
          <label for="numero">Número da residência:</label>
          <input type="text" id="numero" name="numero" value="<%= valores.numero %>">
        </div>
        <div class="form-group">
          <label for="fone">Telefone:</label>
          <input type="tel" id="fone" name="fone" value="<%= valores.fone %>">
        </div>
        <button type="submit">Salvar</button>
      </form>
    </section>
  </main>
  <script> document.getElementById('logout').addEventListener('click', function(event) {
    event.preventDefault(); // Evita o comportamento padrão do link

    // Realiza uma requisição para o endpoint de logout
    fetch('/logout', { method: 'POST' })
        .then(response => {
            if (response.ok) {
                // Redireciona para a página inicial ou de login
                window.location.href = '/';
            } else {
                // Trate o erro de logout (opcional)
                alert('Erro ao fazer logout. Tente novamente.');
            }
        })
        .catch(error => {
            console.error('Erro ao fazer logout:', error);
            alert('Erro ao fazer logout. Tente novamente.');
        });
      })
        </script>
</body>
</html>